
@media only screen and (max-width: 1824px) {
    .container {
        width: 100%;
    }
    .br {
        display: none;
    }
}
@media only screen and (max-width: 480px) {
    .container {
        width: 100%;
    }
    .br {
        display: inline;
    }
    .notVisible { 
        display: none;
    }
}

nav {
    background-color: #90b0f0;
    height: 80px;

    display: flex;
    flex-direction: column;
    
    background: url("../images/img.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(109, 178, 235);
}
.navLink {
    padding: 10px 20px 0;
    text-decoration: none;
}
.navLink.active {
    color: blue;
    font-weight: bold;
}
.navLink.inactive {
    color: #FFFFFF;
}
.freeCompititions{
    display: flex;
    flex-wrap: wrap;

    max-width: 700px;
    margin: 0 auto;
}
.freeCompitition {
    flex: 1 1 auto;
    margin: 5px;
    box-sizing: border-box;

    width: 200px;
    padding: 50px 20px; 

    text-align: center; 
    border: 2px solid #808488;
}
.compititionLink {
    display: flex;
    flex-direction: column;
}

h2 {
    color: #1a1a1a;
    text-align: center;
}
.search{
    background-color: #F6F7F8;
    border: 2px solid #808488;
    padding: 20px;
}
.search > label {
    padding-right: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #F6F7F8;
    color: #212529;
}
caption {
    padding: 20px;
    font-size: 24px;
    color: #666;
    font-weight: normal;
    text-align: center;
    border: 2px solid #808488;
}
th, td {
    padding-left: 5px;
    text-align: left;
}
tr {
    border: 1px solid #ccc;
}
.Link {
    text-decoration: none;
}